{
  "release": "local-dev",
  "activatedAt": "1970-01-01T00:00:00.000Z",
  "mfes": {
    "bookings": { "version": "0.0.0-local", "url": "http://localhost:5001/remoteEntry.js" },
    "dining": { "version": "0.0.0-local", "url": "http://localhost:5002/remoteEntry.js" },
    "payment": { "version": "0.0.0-local", "url": "http://localhost:5003/remoteEntry.js" }
  }
}
